.width {
  width: 9.5rem;
  display: inline-block;
  margin-top: 1rem;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.button{
  width: 100%;
  height: 55px;
  background-color: #9DB904 !important;
  border-color: #9DB904 !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: #738703 !important;
}